html{
    font-size: 14px;
}
body{
    font-family:"Raleway", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1rem;
}
h1.lead,
.h1.lead{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1rem;
}
.btn{
    border: none;
    opacity: 1;
    -webkit-transition: opacity 0.5s linear 0s;
    transition: opacity 0.5s linear 0s;
}
.btn:hover{
    opacity: 0.7;
}
.btn-success:active:focus,
.btn-success:focus,
.btn-success:active:hover,
.btn-success:active,
.btn-success:hover,
.btn-success{
    background-color: #42d685;
}
.btn-primary:active:focus,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active,
.btn-primary:hover,
.btn-primary{
    background-color: #31bfef;
}
.btn-stroke:active:hover,
.btn-stroke:hover,
.btn-stroke:active,
.btn-stroke:focus,
.btn-stroke{
    border: 1px solid transparent;
    background-color:transparent;
}
.btn-stroke:hover{
    opacity: 0.5;
}
.btn-stroke.btn-success{
    border-color: #42d685;
    color: #42d685;
}
.btn-stroke.btn-primary{
    border-color: #31bfef;
    color: #31bfef;
}
.btn-lg{
    font-size: 14px;
    line-height: 1;
    padding: 10px;
    border-radius: 25px;
    min-width: 100px;
    font-weight: 600;
}
/*Intro*/
#intro {
    position: relative;
    color: #fff;
    background: url(../images/intro.jpg) 50% 50%;
    background-size: cover;
}
.intro-img {
    width: 100%;
    display: none;
}
.intro-text{
    text-align: center;
    padding: 2rem 0;
}
.icon-video{
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    position: relative;
    -webkit-transition: opacity 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    background-color: transparent;
}
.icon-video:hover{
    background-color: rgba(255,255,255,0.2);
}
.icon-video > .inner{
    width: 1px;
    height:30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -10px;
    background:#42d685;
}
.icon-video > .inner:after,
.icon-video > .inner:before{
    position: absolute;
    width: 1px;
    height: 31px;
    content: "";
    background:#42d685;
}
.icon-video > .inner:after{
    left: 13px;
    bottom: -8px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.icon-video > .inner:before{
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: -8px;
    left: 13px;
}
.intro-text h1.lead,
.intro-text .h1.lead{
    margin:1.5rem 0;
    line-height: 1;
}
.intro-text p{
    font-size: 1.2rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}
.btns-holder .btn{
    margin-left:1.5rem;
}
.btns-holder .btn:first-child{
    margin-left: 0;
}
/*Intro end*/
/*Header*/
#header {
    padding:10px 0;
    height: 50px;
}
#header::after {
    clear: both;
    display:block;
    content:'';
}
#header .logo{
    height: 30px;
    float: left;
}
#header .logo img{
    height: 30px;
}
#header .right-area {
    float: right;
    text-align: right;
    padding-top: 7px;
}
#header .right-area .btn{
    margin-left: 11px;
    display: none;
    border-radius:17px;
    min-width: 100px;
    line-height: 20px;
}
.phone-number .glyphicon-earphone{
    margin-right: 5px;
    font-size: 14px;
}
/*Header end*/
/*Logos line*/
.logos-list{
    padding:5px 0;
    margin:0;
    list-style:none;
    text-align: center;
    font-size: 0px;
    line-height: 0px;
}
.logos-list li{
    display: inline-block;
    vertical-align: middle;
    width: calc(32% - 10px);
    padding:2px 5px;
}
.logos-list li img{
    max-width: 100%;
}
.logos-list li img{
    height: 20px;
}
/*Logos line end*/

#content {
    background-color: #f9f9f9;
    position: relative;
    text-align: center;
}

#footer{
    background-color: #363636;
    color: #fff;
    font-size: 16px;
}

.brand-link:hover,
.brand-link:focus {
    text-decoration: none;
    color: #fff;
}
.brands-img {
    max-width: 100%;
}
.allbrand-picture {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    width: calc(50% - 20px);
}
.allbrand-container {
    text-align: center;
    font-size: 0px;
    line-height: 0px;
}
/*Brands end*/
/*Content*/
#content {
    background-color: #f9f9f9;
    position: relative;
    text-align: center;
    color: #363636;
}

#content .wide-container h1,
#content .wide-container .h1{
    padding-bottom: 30px;
}
#content .wide-container-padding-top{
    padding-top:0;
}
.align-picture{
    position: relative;
    height: 80px;
}

.align-picture a img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 70px;
}
.content-text {
    margin: 0 auto;
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.content-inline{
    text-align: center;
    position: relative;
    width: 100%;
}
.content-inline::before{
    content: '';
    background: url(../images/content-arrow-right.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 26px;
    width: 14px;
    transform: rotate(90deg);
    top: 5px;
}

.no-after::before{
    display: none;
}

.salers-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
}
.sellers {
    color: #31bfef;
    margin: 0 auto;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-top: 15px;
}
.buyers {
    color: #42d685;
    margin: 0 auto;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-top: 15px;
}
.content-info {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 100%;
}
.content-info h3,
.content-info .h3{
    font-size: 16px;
    font-weight: 600;
}
.content-info h3,
.content-info .h3{
    font-size: 1.125rem;
    margin: 0 auto;
    line-height: 3rem;
}
.content-info p,
.content-info .p{
    font-size: 0.875rem;
    margin: 0 auto;
    padding: 0 5px;
}

.content-info .p .br,
.content-info  p br{
    display: none;
}
/*Content end*/
/*Comments*/
#blue-container{    
    background-color: #31bfef;
}
.comments{
    color: #fff;
    font-size: 14px;
}
.comments narrow-container,
.comments .narrow-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.media-width{
    max-width: 760px;
    margin: 0 auto;
}
.media > .pull-left{
    padding-top: 4px;
    padding-right: 26px;
    margin: 0 auto;
}

h1.comments-title,
.h1.comments-title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 0;
}
.comments-autor{
    margin-bottom: 0;
    font-size: 1rem;
}

.comments-autor-location{
    font-size: 0.85rem;
    line-height: 1rem;
}

.comments-link{
    font-size: 0.85rem;    
    line-height: 1rem;
    text-decoration: underline;
    color: #363636;
}
.media-heading{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.comments-image{
        width: 110px;
        height: auto;
    }
/*Comments end*/

/*Foter*/
#footer{
    background-color: #363636;
    color: #fff;
    padding: 15px 0;
    font-size: 0.9rem;
}
#footer a{
    color:#fff;
}
.footer-container .footer-col:first-child{
    margin-left: 0;
}
.footer-col {
    display: inline-block;
    vertical-align: top;
    width:calc(47% - 10px);
    margin: 0 5px 20px;
    text-align: center;
}
.lnk-icon{
    padding: 0 0 0 34px;
}
.lnk-facebook
/*Foter end*/
/*New Container*/

.wide-container{
    width: 100%;
}

.narrow-container{
    width: 100%;
}

@media (min-width: 480px) {
    .logo-img {
        width: calc(33% - 20px);
    }

    .conte-title {
        font-size: 24px;
    }

    .content-text {
        padding-bottom: 30px;
    }
   


}
@media (min-width: 650px) {
    .logos-list li{
        width: calc(18% - 10px)
    }
    .content-inline{
        float: left;
        text-align:center;
        position: relative;
        width: 33.3%;
    }

    .content-inline::before{
        content: '';
        background: url(../images/content-arrow-right.png);
        background-repeat: no-repeat;
        display: inline-block;
        position: absolute;
        top: 23px;
        left: 0;
        height: 26px;
        width: 14px;
        transform: rotate(0deg);
    }
    .no-after::before{
        display: none;
    }
    .content-container{
        padding: 0;
    }

    .footer-container{
        font-size:16px;
    }
    .footer-col {
        width: 23%;
        text-align: left;
    }
    .copyright{
        padding-top: 65px;
        text-align:center;
    }
}
@media (min-width: 768px) {
    html{
        font-size: 1rem;
    }
    .btn-lg{
        font-size: 18px;
        line-height: 1;
        padding: 13px;
        border-radius: 25px;
        min-width: 150px;
    }
    #intro{
        background: none;
    }
    #intro .intro-img{
        display: block;
        width: 100%;
    }
    #intro .header-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #intro #header{
        position: absolute;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #intro .intro-text {
        position: absolute;
        text-align: center;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 0 15px 10px;
        height: calc(100% - 50px);
        overflow: hidden;
    }
    #intro .intro-text::before {
        display: inline-block;
        content: "";
        margin: 0 0 0 -10px;
        width: 1px;
        height: 100%;
        vertical-align: middle;
    }

    #intro .intro-text-inner {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
    .icon-video{
        width: 80px;
        height: 80px;
    }
    .icon-video > .inner{
        height:50px;
        margin: -25px 0 0 -15px;
    }
    .icon-video > .inner:after,
    .icon-video > .inner:before{
        width: 1px;
        height: 51px;
    }
    .icon-video > .inner:after{
        left: 21px;
        bottom: -13px;
    }
    .icon-video > .inner:before{
        top: -13px;
        left: 21px;
    }
    #header{
        padding: 14px 15px;
        font-size: 1.125rem;
        height: 78px;
    }
    #header .logo img{
        height: 50px;
    }
    #header .right-area{
        padding-top: 10px;
    }
    #header .right-area .btn{
        display: inline-block;
        font-size: 1.125rem;
    }
    #header .header-button {
        display: inline-block;
    }
    .logos-list {
        padding:15px 0;
    }
    .logos-list li{
        width: auto;
        padding: 2px 8px;
    }
    .conte-title {
        font-size: 48px;
    }
    .content-text {
        padding-bottom: 35px;
    }
    .content-info .p .br,
    .content-info  p br{
        display: block;
    }
    .intro-button {
        width: 230px;
        margin: 30px;
        height: 52px;
        font-size: 24px;
    }
    .align-picture{
        position: relative;
        height: 160px;
    }
    .align-picture a img{
        height: auto;
    }
    .content-inline::before{
        top: 68px;
    }
    .p .content-text br
    .p .content-text .br{
        display: inline-block;
    }
    .comments narrow-container,
    .comments .narrow-container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .media > .pull-left{
        padding-top: 8px;
        padding-right: 26px;
        margin: 0 auto;
    }
}

@media (min-width: 960px) {
    h1.lead,
    .h1.lead{
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2;
    }
    .btn-lg{
        font-size: 24px;
        line-height: 1;
        padding: 13px;
        border-radius: 25px;
        min-width: 230px;
    }
    .logo-img {
        width: auto;
        max-width: 100px;
    }
    .intro-text h1.lead,
    .intro-text .h1.lead{
        margin: 2.8rem 0 1.1rem;
    }
    .intro-text p{
        font-size: 1.5rem;
        margin-bottom: 2.8rem;
    }
    .icon-video{
        width: 110px;
        height: 110px;
    }
    .icon-video > .inner{
        height:62px;
        margin: -31px 0 0 -20px;
    }
    .icon-video > .inner:after,
    .icon-video > .inner:before{
        width: 1px;
        height: 63px;
    }
    .icon-video > .inner:after{
        left: 26px;
        bottom: -16px;
    }
    .icon-video > .inner:before{
        top: -16px;
        left: 26px;
    }
    .logos-list li img{
        height: 25px;
    }
    .content-text {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }
    .sellers {
        font-size: 2.25rem;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .buyers {
        font-size: 2.25rem;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .content-info h3,
    .content-info .h3{
        font-size: 1.125rem;
    }
    .content-info p,
    .content-info .p{
        font-size: 1rem;
    }
    .footer-col {
        width: 195px;
        text-align: left;
    }
    .comments narrow-container,
    .comments .narrow-container{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    h1.comments-title,
    .h1.comments-title{
        font-size: 3rem;
        margin-bottom: 70px;
    }
    .media-heading{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 14px; 
    }
    
    .comments-image{
        width: 164px;
    }
    .comments-autor{
        font-size: 1.5rem;
    }

    .comments-autor-location{
        font-size: 1.125rem;
        padding-bottom: 10px;
    }
    .comments-link{
        font-size: 1.125rem;    
        line-height: 1.5rem;
    }

    .comments-link{
        font-size: 1.125rem;
    }
}

@media (min-width: 1180px) {
    #intro .header-container{
        left: 50%;
        margin-left: -579px;
    }
    #intro .header-container,
    .header-container {
        width: 1158px;

    }
}



/*New Container*/
.wide-container{
    width: 100%;
}

wide-container .h1,
.wide-container h1{
    font-size: 2rem;
    margin: 0;
    padding-bottom: 15px;
}

.narrow-container{
    width: 100%;
}
.wide-container-padding{
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Advantages*/
#advantages {
    background-color: #fff;
    color: #363636;
    text-align: center;
}
.ul.list-advantages,
ul.list-advantages{
    font-size: 1.2rem;
    padding-bottom: 15px;
    margin:0;
}
.advantages-list-item .glyphicon-ok{
    font-size: 14px;
    margin-right: 15px;
}
.list-advantages li,
.list-advantages .li{
    padding: 0 1rem;
    padding-right: 1.5rem;
}
/*End advantages*/
/*Head*/
.page-top{
    background: url(../images/bg01.jpg) no-repeat 50% 0;
    color: #fff;
    background-size: cover;
    text-align: center;
    height: 360px;
}
.top-position{
    padding-top: 1.5rem;
}
.header-wraper{
    background: #363636;
    color: #fff;
}
/*End head*/


/*Product-list*/
.wrap{
    overflow: hidden;
    text-align: center;
}
.filter-results{
    padding-top: 19px;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.875rem;
    position: relative;
}
.filter-item{
    position:relative;
    display:inline-block;
    margin: 6px;
    font-size: 1.125rem;
    line-height: 2rem;
    padding: 0 10px;
    border: 1px solid;
    color: #42d685;
    border-radius: 38px;
    height: 38px;
    min-width: 105px;
    vertical-align:middle;
}
.filter-item>span{
    vertical-align: middle;
    padding-right: 1rem;
}
.filter-item>span>a{
    font-size: 0.8rem;
    color: #42d685;
    position:absolute;
    top:4px;
    right: 12px;
}
.filter-item>span>a:active:hover,
.filter-item>span>a:active,
.filter-item>span>a:hover,
.filter-item>span>a:focus{
    opacity: 0.7;
    -webkit-transition: opacity 0.5s linear 0s;
    transition: opacity 0.5s linear 0s;
}
.filter-results>span{
    padding-right: 1rem;
    vertical-align:middle;
}
.multi-col{
    margin: 0 -10px;
    font-size:0;
    line-height: 0;
}
.multi-col .col{
    margin: 10px;
    font-size: 1rem; 
    line-height: 1.2; 
}
.product-img{
    position: relative;
    width: 288px;
    height: 215px;
    overflow: hidden;
}
.product-item{    
    display: inline-block;    
    vertical-align: top;        
    width: 288px; 
    text-align: left;
}
.product-img img{
    height: 215px;
    width: 288px;
}
.product-item .product-title{
    font-weight: 600;
    padding-top: 1rem;
}
.product-gradient{
    content: '';
    position: absolute; 
    vertical-align: bottom; 
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    margin: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2MzYzNiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(54,54,54,0) 0%, rgba(54,54,54,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,54,54,0)), color-stop(100%,rgba(54,54,54,1)));
    background: -webkit-linear-gradient(top,  rgba(54,54,54,0) 0%,rgba(54,54,54,1) 100%);
    background: -o-linear-gradient(top,  rgba(54,54,54,0) 0%,rgba(54,54,54,1) 100%);
    background: -ms-linear-gradient(top,  rgba(54,54,54,0) 0%,rgba(54,54,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(54,54,54,0) 0%,rgba(54,54,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00363636', endColorstr='#363636',GradientType=0 );
}
.product-price{
    content:'';
    font-family: 'Open Sans', sans-serif;
    position: absolute; 
    vertical-align: bottom; 
    bottom: 8px; 
    left: 10px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.product-button{
    content:'';
    position: absolute; 
    vertical-align: bottom;
    bottom: 8px; 
    right: 7px;
    font-size: 18px;
    line-height: 1;
    padding: 10px;
    border-radius: 25px;
    min-width: 106px;
    font-weight: 500;
    height: 36px;
    margin: 0;
}
.warranty{
    border: 1px solid #ebe8e8;
    display: inline-block;        
    width: 288px;
}
.warranty div{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    vertical-align: top;
}
.warranty div img{
    height: 50px;
    width: auto;
}
.warranty div p{    
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    padding-top: 5px;
}
.page-navigation{
    font-size: 1.5rem;
    color: #cbcbcb;
}
.page-navigation>li{
    color: #cbcbcb;
}
.page-navigation>li>a{
    text-decoration: none;
    color: #cbcbcb;
    border: 1px solid;
}
.page-navigation li{
    padding-left: 0;
    padding-right:0;
    padding-top: 10px;
}
.page-navigation>li>a.page-link{
    width: 30px;
    height: 30px;
    display: block;    
    line-height: 1.8rem;
}
.page-navigation>li>a:hover,
.page-navigation>li>a:active{
    text-decoration: none;
    color: #363636;
}
.design-padding-battom{
    padding-bottom: 400px;
}
/*End product-list*/
/*Product page*/
.container-gray{
    background: #f8f8f8;
}
.main-bg-content{
    position: relative;
}
.main-bg-img{
    position: absolute;
    top:0;
    left: 0;
    background: url(../images/bg01.jpg) no-repeat 50% 0;
    width: 100%;
    height: 360px;
    background-size: cover;

}
/*Nav Tabs*/
.tabs{
    background-color: #fff;
    border: 1px solid #ebe8e8;
    padding-bottom: 200px;
}
.nav-tabs{
    border-bottom: 2px solid #31bfef;
}
.products-grid>li{
    width: 20%;
    font-size: 1.125rem;
    font-weight:600;
    border-bottom: 0;
    margin-bottom: 0;
}
.products-grid>li>a{
    color: #363636;
    border: none;
    border-radius: 0;
    line-height: 2.5rem;
    margin-right: 0;
}
.products-grid > li > a:active:hover,
.products-grid > li > a:active,
.products-grid > li > a:hover,
.products-grid > li > a:focus {
    color: #fff;
    background-color: #31bfef;
    border-bottom: 0;
}
/*End Nav Tabs*/
/*Media*/
@media (min-width: 642px) {
    .warranty{      
        width: 596px;
    }    
    .warranty div{
        display: inline-block;
        width: 32%;
    }
    .warranty div img{
        height: 70px;
        width: auto;
    }
}
@media (min-width: 768px) {
    .wide-container-padding{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    wide-container .h1,
    .wide-container h1{
        font-size: 2rem;        
        padding-bottom: 40px;
    }
    .ul.list-advantages,
    ul.list-advantages{
        padding-bottom: 40px;
        font-size: 1.2rem;
    }
    .multi-col .col{
        margin: 19px;
    }
    .multi-col{
        margin: 0 -19px;
        font-size:0;
        line-height: 0;
    }    
    .warranty div img{
        height: auto;
        width: auto;
    }
    .warranty{      
        width: 614px;
    }    
    .warranty div{
        padding: 25px 0;
    }
    .page-navigation>li>a.page-link{
    width: 40px;
    height: 40px;
    display: block;
    line-height: 2.1rem;
}
    
}

@media (min-width: 960px) {
    .narrow-container {
        width: 940px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .wide-container-padding{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .wide-container .h1,
    .wide-container h1 {
        font-size: 3rem;
        padding-bottom: 70px;
    }
    .ul.list-advantages,
    ul.list-advantages{
        font-size: 1.5rem;
        padding-bottom: 70px;
    } 
    .warranty{      
        width: 940px;
    }
}
@media (min-width: 1180px) {
    #intro .header-container{
        left: 50%;
        margin-left: -579px;
    }
    #intro .header-container,
    .header-container {
        width: 1158px;
        padding: 0;
    }
    .logos-list li{
        padding:0 10px;
    }
    .logos-list li img{
        height: auto;
    }
    .wide-container{
        width: 1158px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
} 

.carousel-no-display{
    width: 0;
    display: none;
}
/*End media*/